/* Start Golbal */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: regular;
  color: #4a4a4a;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.container {
  max-width: 76%;
  margin: auto;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: bolde;
  src: url("../fonts/Roboto-Bold.ttf") format("opentype");
}

@font-face {
  font-family: medeum;
  src: url("../fonts/Roboto-Medium.ttf") format("opentype");
}

@font-face {
  font-family: regular;
  src: url("../fonts/Roboto-Regular.ttf") format("opentype");
}

/* End Golbal */

/* Start Main Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__rightnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.fa-shopping-cart {
  font-size: 20px;
  color: #087e8b;
}

.fa-shopping-cart:hover {
  color: #0bafc1;
}

.header__p {
  display: inline-block;
  margin-right: 5px;
}

.header__a {
  padding: 7px 7px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  background-color: #087e8b;
  color: #fff;
  font-size: 14px;
  display: inline-block;
}

.header__a:hover {
  background-color: #0bafc1;
}
/* End Main Header  */

/* Start Shop Section  */
#shop {
  height: 70vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/28092304_modern-business-woman-portrait.jpg") no-repeat 50%
      15%;
  background-size: cover;
}

.shop__contain {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
}

.shop__head {
  font-family: bolde;
  font-size: 40px;
  text-transform: uppercase;
}

.shop__head span {
  color: #087e8b;
}

.shop__p {
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  padding: 15px;
  margin: 25px 0 55px 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #a5a5a5;
}

.shop__a {
  display: block;
  width: 132px;
  padding: 12px 10px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #087e8b;
  color: #087e8b;
  font-family: medeum;
}

.shop__a:hover {
  background-color: #087e8b;
  color: #fff;
}
/* End Shop Section */

/* Start Products Section */

.products__searchbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}

.products__search {
  font-size: 16px;
  padding: 5px 10px 5px 40px;
  background: url(../images/search-icon.png) no-repeat;
  background-position: 6px 4px;
  border: 1px solid #4a4a4a;
}

.products__search:focus {
  border: 1px solid #087e8b;
}

.products__display {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.products__icon {
  font-size: 20px;
}

.products__icon:hover {
  color: #087e8b;
  cursor: pointer;
}

.products__items {
  display: flex;
  justify-content: space-between;
}

.products__item {
  background: url("../images/27001163_MediumBlueDenim_001_ProductLarge.jpg")
    no-repeat center center;
  background-size: contain;
  width: 30%;
  height: 300px;
  box-shadow: 1px 1px 50px 1px #e6e6e6;
  position: relative;
  display: flex;
  justify-content: center;
}

.products__item:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/27001163_MediumBlueDenim_001_ProductLarge.jpg") no-repeat
      center center;
  background-size: contain;
}

.products__item:hover .products__details {
  display: block;
}

.products__details {
  display: none;
  padding: 40px;
}

.products__details p {
  color: #fff;
  text-align: center;
}

.products__add {
  position: absolute;
  width: 80%;
  height: 10%;
  bottom: 0;
  background-color: #087e8b;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products__price,
.fa-cart-plus {
  color: #fff;
  font-size: 20px;
}

.fa-cart-plus:hover {
  cursor: pointer;
}

/* End Products Section */

/* ================================================ Start Seller Page ==================================================== */

#seller__header {
  background-color: #ccc;
}

/* Start Add form */

#seller__form {
  margin: 0px;
  padding: 10px 0 0 0;
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.sellerform__container {
  display: flex;
  justify-content: space-between;
}

.form__div {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
}
.form__heading {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #525252;
  font-weight: 600;
  margin: 5px 0 12px 0;
}

input,
textarea,
select {
  background: #fafafa;
  border-radius: 5px;
  padding: 0 20px;
  line-height: 30px;
  color: #666;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  margin: 0 0 10px 0;
}
select {
  padding: 10px;
}

label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.form__btn {
  background: #4272d7;
  border-radius: 10px;
  line-height: 50px;
  padding: 0 50px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  margin: 10px 100px 0 100px;
}

@media (max-width: 768px) {
  .sellerform__container {
    flex-direction: column;
  }
  .form__div {
    padding: 10;
    margin: 10;
  }
  .form__btn {
    padding: 0px 50px;
    margin: 0 50px;
  }
}

/* End Form */

/* Start Product section */
.products__searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__label {
  margin-right: 10px;
  padding: 10px 5px;
}

/* End of Products details */

/* Start Footer */
#seller__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #181818;
}

.footer__logo {
  width: 200px;
}
.footer__div {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
span {
  margin: 5px 0;
  color: #fff;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.footer4__div {
  display: flex;
  align-items: center;
}
.footer4__p {
  margin: 50px 20px 50px 20px;
}
.footer__heading {
  margin-bottom: 30px;
  color: #896d44;
}

#Subscribe_email {
  background: #000;
  border: none;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.footer__button {
  border-radius: 0;
  background: #f00;
  border: none;
  font-weight: 600;
  margin: 20px 0px 20px 0;
}
